# Project - Play with DataFrames

## Goal of Project
- Master pandas DataFrame

### Step 1: Import pandas
- Execute the cell below (SHIFT + ENTER)

In [1]:
import pandas as pd

### Step 2: Read the data
- Use ```pd.read_csv()``` to read the file `files/population.csv`
- NOTE: Remember to assign the result to a variable (e.g., ```data```)

In [6]:
data=pd.read_csv(r"C:\Users\Haseeb Aqeel\Desktop\Data science books\starter\starter\files\population.csv",index_col=1)

### Step 3: Investigate the data types
- Use ```.dtypes```

In [7]:
data.dtypes

Country        object
Population    float64
dtype: object

### Step 4: Convert Year to Datetime
- ```pd.to_datetime(...)```: Convert to a datetime
- ```format='%Y'```: Format of input, here it is the year.

In [8]:
data.head()

      Country  Population
Year
2000  Denmark         5.3
2010  Denmark         5.5
2020  Denmark         5.8
2000   Sweden         8.8
2010   Sweden         9.3

### Step 5: Scale Population to millions
- HINT: ```data['Population']*1000``` scales by 1000

In [9]:
data['Population']*1000

Year
2000     5300.0
2010     5500.0
2020     5800.0
2000     8800.0
2010     9300.0
2020    10200.0
Name: Population, dtype: float64

In [14]:
data.head()

      Country  Population
Year
2000  Denmark         5.3
2010  Denmark         5.5
2020  Denmark         5.8
2000   Sweden         8.8
2010   Sweden         9.3

In [15]:
data.shape

(6, 2)

### Step 6: Calculate mean population for each country
- HINT: ```data.groupby('Country')``` groups the data

In [13]:
data.groupby('Country').sum()

         Population
Country
Denmark        16.6
Sweden         28.3

### Step 7: Replace Denmark to DNK
- Given a column you can access the string functions on it with ```.str```
    - This enables you to apply string functions on it
    - HINT: ```data['Country'].str.replace('Denmark', 'DNK')```

In [16]:
data.columns=['Pop','Denmark']

In [17]:
data.head()

          Pop  Denmark
Year
2000  Denmark      5.3
2010  Denmark      5.5
2020  Denmark      5.8
2000   Sweden      8.8
2010   Sweden      9.3