# Read CSV, Excel, and Parquet files

![Data Science Workflow](img/ds-workflow.png)

## Acquire Data
### Common Data Sources
- Web Scraping
- Databasis
- **CSV**
- **Excel**
- **Parquet**

### CSV files
- Comma-Seperated Values ([Wikipedia](https://en.wikipedia.org/wiki/Comma-separated_values))
- CSV is a common data exchange format
- Simple and easy to use
- [Lecture on CSV](https://youtu.be/LEyojSOg4EI)

#### How to read CSV file
```Python
import pandas as pd

data = pd.read_csv('files/aapl.csv', parse_dates=True, index_col=0)
```

#### Other useful parameters
- Full documentation [`read_csv()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html): read a comma-separated values (csv) file into **pandas** DataFrame.
- `sep=','`

In [1]:
import pandas as pd

data = pd.read_csv('files/aapl.csv', parse_dates=True, index_col=0)

In [2]:
data.head(2)

                 High        Low       Open      Close       Volume  Adj Close
Date
2020-01-02  75.150002  73.797501  74.059998  75.087502  135480400.0  73.988464
2020-01-03  75.144997  74.125000  74.287498  74.357498  146322800.0  73.269150

### Excel files
- Most videly used [spreadsheet](https://en.wikipedia.org/wiki/Spreadsheet)
- Learn more about Excel processing [in this lecture](https://www.learnpythonwithrune.org/csv-groupby-processing-to-excel-with-charts-using-pandas-python/)

#### How to read Excel
- [`read_excel()`](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html) Read an Excel file into a pandas DataFrame.
```Python
data = pd.read_excel('files/aapl.xlsx', index_col='Date')
```

In [4]:
data1 = pd.read_excel('files/aapl.xlsx', index_col='Date')

In [5]:
data1.head(2)

                 High        Low       Open      Close     Volume  Adj Close
Date
2020-01-02  75.150002  73.797501  74.059998  75.087502  135480400  73.988464
2020-01-03  75.144997  74.125000  74.287498  74.357498  146322800  73.269150

### Parquet files
- [Parquet](https://en.wikipedia.org/wiki/Apache_Parquet) is a free open source format
- Compressed format
    - `!ls -l files/aapl.*`
    - Can easily be a factor 10-20

#### How to read a Parquet file
- [`read_parquet()`](https://pandas.pydata.org/docs/reference/api/pandas.read_parquet.html) Load a parquet object from the file path, returning a DataFrame.
```Python
data = pd.read_parquet('files/aapl.parquet')
```

In [9]:
data3 = pd.read_parquet('files/aapl.parquet')

In [7]:
pip install fastparquet

Collecting fastparquet
  Downloading fastparquet-0.8.3-cp39-cp39-win_amd64.whl (605 kB)
     ------------------------------------ 605.7/605.7 kB 235.3 kB/s eta 0:00:00
Requirement already satisfied: numpy>=1.18 in c:\users\haseeb aqeel\anaconda3\lib\site-packages (from fastparquet) (1.21.5)
Requirement already satisfied: packaging in c:\users\haseeb aqeel\anaconda3\lib\site-packages (from fastparquet) (21.3)
Requirement already satisfied: fsspec in c:\users\haseeb aqeel\anaconda3\lib\site-packages (from fastparquet) (2022.3.0)
Requirement already satisfied: pandas>=1.1.0 in c:\users\haseeb aqeel\anaconda3\lib\site-packages (from fastparquet) (1.4.3)
Collecting cramjam>=2.3.0
  Downloading cramjam-2.5.0-cp39-none-win_amd64.whl (993 kB)
     ------------------------------------ 993.4/993.4 kB 237.4 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\haseeb aqeel\anaconda3\lib\site-packages (from pandas>=1.1.0->fastparquet) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\haseeb aqeel\anaconda3\lib\site-packages (from pandas>=1.1.0->fastparquet) (2022.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\haseeb aqeel\anaconda3\lib\site-packages (from packaging->fastparquet) (3.0.4)
Requirement already satisfied: six>=1.5 in c:\users\haseeb aqeel\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.1.0->fastparquet) (1.16.0)
Installing collected packages: cramjam, fastparquet
Successfully installed cramjam-2.5.0 fastparquet-0.8.3
Note: you may need to restart the kernel to use updated packages.

In [8]:
pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-9.0.0-cp39-cp39-win_amd64.whl (19.6 MB)
     -------------------------------------- 19.6/19.6 MB 237.7 kB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.6 in c:\users\haseeb aqeel\anaconda3\lib\site-packages (from pyarrow) (1.21.5)
Installing collected packages: pyarrow
Successfully installed pyarrow-9.0.0
Note: you may need to restart the kernel to use updated packages.

## Great Places to Find Data
- [UC Irvine Machine Learning Repository!](https://archive.ics.uci.edu/ml/index.php)
- [KD Nuggets](https://www.kdnuggets.com/datasets/index.html) Datasets for Data Mining, Data Science, and Machine Learning
    - [KD Nuggets](https://www.kdnuggets.com/datasets/government-local-public.html) Government, State, City, Local and Public
    - [KD Nuggets](https://www.kdnuggets.com/datasets/api-hub-marketplace-platform.html) APIs, Hubs, Marketplaces, and Platforms
    - [KD Nuggets](https://www.kdnuggets.com/competitions/index.html) Analytics, Data Science, Data Mining Competitions
- [data.gov](https://www.data.gov) The home of the U.S. Governmentâ€™s open data
- [data.gov.uk](https://data.gov.uk) Data published by central government
- [World Health Organization](https://www.who.int/data/gho) Explore a world of health data
- [World Bank](https://data.worldbank.org) source of world data
- [Kaggle](https://www.kaggle.com) is an online community of data scientists and machine learning practitioners.

In [10]:
data3.head(2)

                 High        Low       Open      Close     Volume  Adj Close
Date
2020-01-02  75.150002  73.797501  74.059998  75.087502  135480400  73.988464
2020-01-03  75.144997  74.125000  74.287498  74.357498  146322800  73.269150